.col-md-5{
    position: absolute;
    top: 150px;
    left:250px;
    width: 70%;
    background-color: white;
}
.col-md-5{
    position: absolute;
    top: 150px;
    left:250px;
    width: 70%;
    background-color: white;
}
a.btn.btn-primary.btn-sm.btn-block{
    background-color: #F7A9AF;
    color: white;
    font-size: 20px;
}
.createclass{
    position: absolute;
    top: 20%;
    left:40%;
    
}
          .col-md-5{
  position: absolute;
  top: 150px;
  left:250px;
  width: 70%;
  background-color: white;
}