{% extends 'base.html.twig' %}


{% block title %}Litefli | Espace Médecin {% endblock %}

{% block css %}
<style>
    .carousel-caption p {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}
.carousel-caption a {
    margin-bottom: -200px;
    width: 350px;
    height: 50px;
    text-decoration: none;
}

</style>
{% endblock %}   
{% block body %} 
    <div class="">
                    <div class="banner" style="background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/img/backgroundMede.jpeg);">
    <div class="carousel-caption">
        <h2 >Bienvenue sur votre Espace <span>Médecin</span></h2> 
        <p><a href="{{ path('rendezvous_index') }}">Gérer votre calendrier</a></p>
    </div>

{% endblock %}
